body {
  width: 1200px;
}

.title {
  text-align: center;
  margin: 50px;
}

.description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.ingredients {
  margin: 100px;
}

.picture {
  text-align: center;
  position: relative;
}

/*
.picture::after {
  content: "the title";
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 50px;
  transition: opacity 0.8s ease;
}

.picture:hover::after {
  opacity: 1;
}
*/

.titleonpic {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 300;
  opacity: 0;
  transition: opacity 0.8s ease;
  font-size: 40px;
}

.titleonpic:hover {
  opacity: 1;
}
